header{
	display: block;
	margin:0 auto;
	width: 200px;
	text-align: center;	
}

header h1{
	font-family: Arial;
	font-size: 60px;
	font-weight: bold;
	margin: 10px auto;
}

header #newgamebutton{
	display: block;
	margin: 10px auto;

	width: 100px;
	padding: 10px 10px;
	background-color: #8f7a66;

	font-family: Arial;
	color: white;

	border-radius: 10px;
	text-decoration: none;

}

header #newgamebutton:hover{
	background-color: #9f8b77;
}


header p{
	font-family: Arial;
	font-size: 25px;
	margin:10px auto;

}

#grid-container{
	width: 390px;
	height: 390px;
	padding: 10px;

	margin: 20px auto;
	background-color: #bbada0;

	border-radius: 10px;
	position: relative;
}

.grid-cell{
	width: 90px;
	height: 90px;
	border-radius: 6px;
	background-color: #ccc0b3;

	position: absolute;
}